@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}


body {
    font-size: 15px;
    font-family: 'Inter Tight', sans-serif;
    padding:5rem 10rem 8rem 10rem; 
    margin: 0 auto;
    max-width: 1600px;
    background-color: var(--Off-white);
}

a {
   color:var(--Very-dark-blue); 
}

img {
    width: 100%;
}

:hover {
    transition: .3s;
}



/* REUSABLE CLASSES */
.primary-text {
    color: var(--Dark-grayish-blue);
    line-height: 2;
    letter-spacing: 1.2px;
    font-size: 1rem;
}

.secondary-text {
    color: var(--Grayish-blue)
}

.title-01 {
    color: var(--Very-dark-blue);
    font-weight: 900;
    font-size: clamp(2.5rem, 50vw, 3.7rem);
}

.title-02 {
    color: var(--Soft-orange);
    font-size: 2.5rem;
}

.title-03 {
    color: var(--Off-white);
    font-size: 1.5rem;
    margin-bottom: -2rem;
}

.title-03:hover {
    color: var(--Soft-orange);
}

.title-04 {
    color: var(--Grayish-blue);
    font-size: 1.7rem;
}

.title-05 {
    color: var(--Very-dark-blue);
    font-size: 1.1rem;
    font-weight: 900;
}

.title-05:hover {
    color: var(--Soft-red)
}

hr {
   color: var(--Dark-grayish-blue);
}

.btn {
    background-color: var(--Soft-red);
    color:var(--Off-white);
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    letter-spacing: 5px;

}

.btn:hover {
    background-color:var(--Very-dark-blue);
}



/* NAVBAR */
#logo {
   width: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

nav ul {
    display: flex;
    gap: 4rem;
}

nav ul li a {
    color: var(--Dark-grayish-blue);
      
}

nav ul li a:hover {
    color: var(--Soft-red);
}

.burger {
    display: none;
}



.burger div {
    width:2rem;
    height: .2rem;
    background-color: var(--Very-dark-blue);
    margin: .3rem;
    transition:all 0.3s ease ;
}




/* MAIN */
.leadspace {
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 20rem;

}


.main-03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}



/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.title-03 a {
    color: var(--Off-white);
}

.title-03 a:hover {
    color: var(--Soft-orange);
}



/* Articles */
.article {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-height: 8rem;
}

.article img{
    max-width: 6rem;
}

.article-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article p {
    color: var(--Dark-grayish-blue);
    width: 80%;
}




/* GRID CONTAINER */
.grid-container {
    display: grid;
    height: 100vh;
    gap: 3rem 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "leadspace leadspace aside"
    "featured-article featured-article aside"
    "article-01 article-02 article-03"
    ;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    overflow-x: hidden;
    max-width: 100vw;
    position: relative;
}

 .is-active {
    overflow: visible;
}


.leadspace {
    grid-area: leadspace;
}

.featured-article {
    display: flex;
    grid-area: featured-article;
}

.featured-article-blurb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.btn {
    align-self: center;
    margin-right: 8rem;
}


.main-03 {
    grid-area: main03;  
}

aside {
    grid-area: aside;
    background-color: var(--Very-dark-blue);
}

.article-01 {
    grid-area: article-01;
}

.article-02 {
    grid-area: article-02;
}

.article-03 {
    grid-area: article-03;
}



/* Tablet View */
@media screen and (min-width:768px) and (max-width:1024px) {

    body {
       padding: 3rem 3rem 8rem 3rem;
       margin: 0 auto;
    }

    .grid-container {
        display: grid;
        height: 100vh;
        margin: 0;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-areas:
            "leadspace leadspace aside"
            "featured-article featured-article featured-article"
            "aside aside aside"
            "article01 article02 article03"
        ;
    }

    .featured-article {
        flex-direction: column;
        gap: 1rem;
    }

    .btn {
        align-self: start;
    }

    .featured-article-blurb {
        gap: 2rem;
        align-items: start;
    }
   
    .title-01 {
        font-size: clamp(2rem, 40px, 4rem);
    }

    .title-03 {
        margin:.8rem 0;
    }

    .leadspace {
        min-height: 20rem;
    }

    .main-03 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
    }

    aside .primary-text {
        margin-bottom: .5rem;   
     }

    .article {
        display: flex;
    }

  
     .article img {
        align-self: center;
     }

     .article p {
        width: 90%;
     }
}




/* Mobile View */
@media screen and (max-width:767px) {

    .grid-container {
            display: grid;
            height: 100vh;
            margin: 0rem;
            gap: 2rem;
            grid-template-columns: 1fr;
            grid-template-areas:
                "leadspace"
                "featured-article"
                "featured-article"
                "aside"
                "article-01"
                "article-02"
                "article-03"
            ;
        }

    body {
      padding: 1rem;
      margin: 0;
    }

    .btn {
        align-self: start;
    }


    /* REUSABLE CLASSES */
    .primary-text {
        line-height: 1.7;
        letter-spacing: 1.2px;
        font-size: .9rem;
    }

   
    .title-01 {
        font-size: 2.5rem;
    }

    .title-02 {
        font-size: 2rem;
        margin-bottom:2rem;
    }

    .title-03 {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .title-05 {
        font-size: 1.1rem;
    }

    

    /* NAVBAR */
    #logo {
        width: 3rem;
    }

 
    nav ul {
        display: flex;
        gap: 2rem;
        padding: 2rem;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top:0vh;
        right: 0;
        width: 70%;
        height: 100vh;
        transform: translateX(100%);
        transition:  transform 0.5s ease-in; 
    }


    nav ul li {
        opacity: 0%;
    }

    nav ul li:first-child {
        margin-top: 8rem;
    }

    nav ul li a {
        font-size: 1.4rem;
    }


    .burger {
        display: block;
        cursor: pointer;
        z-index: 100;
        background: none;
        border: 0;
    }
    
    .nav-active {
        transform: translateX(0%);
    }


    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px)
    }


    /* MAIN */
   .leadspace {
       background-image: url(./assets/images/image-web-3-mobile.jpg);
       height: 20rem;
   }

    .main-03 {
        display: flex;
        gap: 2rem;
    }



    /* ASIDE */
    aside {
        display: flex;
        padding: 2rem;
        gap: 1rem;
        margin: 2rem 0;
    }



    /* Articles */
    .featured-article {
        flex-direction: column;
        gap: 1rem;
    }

    .featured-article-blurb {
        gap: 2rem;
    }

    .article-03 {
    
    }

    article p {
        width:100%;
    }
}